## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yellowknife,CA,62.4560,-114.3525,-0.40,60,20,10.36,few clouds
1,1,Tiznit,MA,29.5833,-9.5000,54.39,88,82,1.14,broken clouds
2,2,Ponta Do Sol,PT,32.6667,-17.1000,60.01,67,98,3.00,overcast clouds
3,3,Mataura,NZ,-46.1927,168.8643,57.99,79,97,4.00,overcast clouds
4,4,Yenagoa,NG,4.9247,6.2642,76.55,89,100,5.08,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Please enter the minimum temp requirment: "))
max_temp = float(input("Please enter the Maximum temp requirement: "))

Please enter the minimum temp requirment: 70
Please enter the Maximum temp requirement: 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_temp_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                  (city_data_df["Max Temp"] >= min_temp)]
preferred_temp_df.head(20)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Yenagoa,NG,4.9247,6.2642,76.55,89,100,5.08,overcast clouds
6,6,Axim,GH,4.8699,-2.2405,79.68,87,44,8.68,scattered clouds
11,11,Avarua,CK,-21.2078,-159.7750,77.00,94,97,3.44,overcast clouds
13,13,Port Alfred,ZA,-33.5906,26.8910,70.38,83,89,4.90,overcast clouds
18,18,Vaini,TO,-21.2000,-175.2000,73.40,88,20,4.61,few clouds
23,23,Namibe,AO,-15.1961,12.1522,80.80,65,43,2.59,scattered clouds
30,30,Ibra,OM,22.6906,58.5334,86.22,27,0,5.21,clear sky
35,35,Rikitea,PF,-23.1203,-134.9692,78.67,75,21,12.71,few clouds
39,39,Hilo,US,19.7297,-155.0900,71.60,68,90,4.61,overcast clouds
41,41,Manta,EC,-0.9500,-80.7333,77.00,88,90,6.91,overcast clouds
45,45,Alofi,NU,-19.0595,-169.9187,78.80,83,9,3.44,clear sky
47,47,Cayenne,GF,4.9333,-52.3333,73.99,100,90,6.13,fog
56,56,Amuntai,ID,-2.4177,115.2494,89.42,57,100,1.99,overcast clouds
59,59,Pilar,BR,-9.5972,-35.9567,71.60,100,75,4.61,mist
60,60,Mariel,CU,22.9875,-82.7536,75.20,94,20,3.44,few clouds
66,66,Iquitos,PE,-3.7481,-73.2472,75.20,94,75,2.30,broken clouds
72,72,Candolim,IN,15.5181,73.7626,87.80,70,75,4.61,mist
74,74,Jieshi,CN,22.8134,115.8257,80.01,61,15,3.00,few clouds
75,75,Shetpe,KZ,44.1667,52.1167,72.25,24,9,20.94,clear sky
77,77,Kahului,US,20.8947,-156.4700,73.40,64,20,9.22,few clouds

In [23]:
# 4a. Determine if there are any empty rows.
preferred_temp_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_temp_df.dropna()
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Yenagoa,NG,76.55,overcast clouds,4.9247,6.2642,
6,Axim,GH,79.68,scattered clouds,4.8699,-2.2405,
11,Avarua,CK,77.00,overcast clouds,-21.2078,-159.7750,
13,Port Alfred,ZA,70.38,overcast clouds,-33.5906,26.8910,
18,Vaini,TO,73.40,few clouds,-21.2000,-175.2000,
23,Namibe,AO,80.80,scattered clouds,-15.1961,12.1522,
30,Ibra,OM,86.22,clear sky,22.6906,58.5334,
35,Rikitea,PF,78.67,few clouds,-23.1203,-134.9692,
39,Hilo,US,71.60,overcast clouds,19.7297,-155.0900,
41,Manta,EC,77.00,overcast clouds,-0.9500,-80.7333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params['location'] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'

    # 6e. Make request and retrieve the JSON data from the search. 
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try: 
        req_hotels = requests.get(base_url, params= params).json()

        hotel_df.loc[index, 'Hotel Name'] = req_hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping')


print("Search Complete")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Search Complete

In [12]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()
clean_hotel_df = hotel_df.dropna()

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt> City Name </dt> <dd>{City}</dd>
<dt> County Code </dt> <dd> {Country} </dd>
<dt> Weather description </dt> <dd> {Current Description} </dd>
<dt> Maximum tempterature </dt> <dd> {Max Temp}°F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [1]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

NameError: name 'gmaps' is not defined